---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [

  {
    title: "HTML",
    icon: "frameworks/html",
    url: "https://developer.mozilla.org/fr/docs/Web/HTML",
  },
  {
    title: "CSS",
    icon: "frameworks/css",
    url: "https://developer.mozilla.org/fr/docs/Web/CSS",
  },
  {
    title: "Javascript",
    icon: "frameworks/javascript",
    url: "https://developer.mozilla.org/fr/docs/Web/JavaScript",
  },
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },

  {
    title: "Node",
    icon: "frameworks/node",
    url: "https://nodejs.dev/fr/learn/",
  },
  {
    title: "Express",
    icon: "frameworks/express",
    url: "https://expressjs.com/fr/",
  },
  {
    title: "Symfony",
    icon: "frameworks/symfony",
    url: "https://symfony.com/what-is-symfony",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Figma",
    icon: "platforms/figma",
    url: "https://www.blogdumoderateur.com/tools/figma/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://fr.tuto.com/blog/2020/10/github.htm",
  },

];
---

<ContentSection title="Stack" id="stack">
  <Fragment slot="lead">
    Voici une liste liste des <span class="text-primary">technologies</span> et des <span class="text-primary">outils</span> que je <span class="text-primary">maitrise</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="technologies"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Outils"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
