---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";
import profil from "~/assets/profil.jpg"
import astronautImage from "~/assets/astronaut.png";
import { Picture } from "@astrojs/image/components";
const widths = [450, 800];
const sizes = "(min-width: 300px) 22vw, 47vw";
---

<ContentSection title="A propos de moi" id="about">
  <Fragment slot="lead">
    Une<span class="text-primary"> personne </span> qui est tombée<span class="text-primary"> amoureuse </span>
    du <span class="text-primary"> développement</span>.
  </Fragment>
   <Picture
        class="object-cover w-full h-full rounded-full border-4 border-indigo-500"
        src={profil}
        sizes={sizes}
        widths={widths}
        loading="eager"
        alt="A floating astronaut in a space suit"
      />
      <div class="max-w-6xl">
        <p class="font-normal tracking-wide"> 
         Je m'appelle <span class="text-primary">El Hadji</span> et je suis un <span class="text-primary">passionné</span> de <span class="text-primary">développement</span> de solutions 
         <span class="text-primary">digitales</span>. Actuellement en <span class="text-primary">3ème année</span> d'études supérieures, je me spécialise dans la création d'applications <span class="text-primary">innovantes</span> pour améliorer la vie quotidienne des utilisateurs.

          Après avoir passé deux ans en école d'ingénieurs en génie électrique, j'ai décidé de poursuivre ma passion pour le <span class="text-primary">développement</span> en changeant de formation. 
          Ce choix a été un véritable <span class="text-primary">challenge</span> pour moi, mais il m'a permis de découvrir de nouveaux horizons et de me <span class="text-primary">perfectionner</span> dans le domaine du développement d'applications.

          Je suis un développeur <span class="text-primary">curieux</span> et <span class="text-primary">passionné</span> qui aime relever des défis <span class="text-primary">techniques</span> . 
          J'adore <span class="text-primary">apprendre</span> de nouvelles technologies et de nouveaux <span class="text-primary">langages</span> de programmation pour améliorer mes compétences et mes connaissances. Mon objectif est de travailler sur des <span class="text-primary">projets</span> stimulants et innovants, qui me permettront de mettre en pratique mes compétences techniques et de développer mes capacités créatives.

          Si vous cherchez un développeur <span class="text-primary">talentueux</span> et <span class="text-primary">passionné</span>, je suis à votre disposition pour discuter de vos projets et mettre mes compétences à votre <span class="text-primary">service</span>.
        </p>
      </div>
</ContentSection>
