---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";


const links: Array<FooterLink> = [

  {
    url: "https://github.com/el-hadji-mamadou-sarr",
    description: "mon profil github",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://discord.com/users/457063202371665921",
    description: "mon profil discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://www.linkedin.com/in/el-hadji-mamadou-sarr-868460259/",
    description: "mmon profil linkedin",
    icon: "fa-brands:linkedin",
  },
  {
    url: "mailto:elhadji.sarr@outlook.com",
    description: "envoyer moi un mail",
    icon: "ic:round-mail",  
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
