---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
---

<ContentSection title="Projets" id="project">
  <Fragment slot="lead">
    Un <span class="text-primary">bon</span> programmeur est quelqu'un qui <span class="text-primary">cherche</span> 
    toujours à <span class="text-primary">résoudre</span> les problèmes que <span class="text-primary">lui-même</span> a créés.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {sites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <!-- <a class="text-primary" href="https://github.com/el-hadji-mamadou-sarr">
        ...d'avantage &rarr;
      </a> -->
    </p>
  </div>
</ContentSection>
